<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">

    <link rel="icon" href="iconos/icon.png">

    <title>Redbone PRODUCT</title>
</head>

<body>

    <div class="cabecera">

        <a href="/">
            <div class="redboneLogo"></div>
        </a>

        <p class="decoracion">-</p>

        <div class="enlacesInteres">
            <ul class="enlaces">
                <li class="enlaces_item">
                    <a href="#" class="enlaces_link"> Our artists </a>
                </li>
                <li class="enlaces_item">
                    <a href="#" class="enlaces_link"> About us </a>
                </li>
                <li class="enlaces_item">
                    <a href="#" class="enlaces_link"> Sign with us </a>
                </li>
            </ul>

        </div>
    </div>



    </div>

    {{#each albumes}}
    <div class="decor">

    </div>
    {{!--
    <div style="background: url(imagenes/{{imagen}}.jpg) no-repeat center center fixed" class="decorImg"></div> --}}
    <div class="productoSolo">

        <div class="carro">
            <p class="carrito">0</p>
        </div>
        <div class="albumSolo" data-id="{{this._id}}">

            <div class="info">
                <p class="precio">$ {{precio}}.000</p>
                <img class="cover" id="solo" src="../imagenes/{{imagen}}.jpg" alt="">

            </div>

            <div class="info">

                <h3>{{album}}</h3>
                <p class="artista">by
                    <span id="nombreArtista">{{artista}}</span>
                </p>
                <hr>
                <p class="fecha">released in
                    <span id="masGrueso"> {{fecha}}</span>
                </p>
                <p class="puntaje">
                    <span id="masDelgado"> Score </span> {{estrellas}}</p>
                <p class="artista"> Songs
                    <span id="masGrueso"> {{canciones}} </span>
                </p>
                <p class="artista"> Genre
                    <span id="masGrueso"> {{genero}} </span>
                </p>

                {{!-- Descripción --}}
                <p class="descripcion">
                    {{album}} is one of the albums released by Redbone Records, recorded by {{artista}} in {{fecha}}. With 11 songs, mostly {{genero}}
                    music, {{artista}} take us to another level on music. Stream it now on all the platforms and buy it now!
                </p>
                <button class="agregar">Agregar al carrito</button>

            </div>


        </div>


        {{/each}}



    </div>

    <script src='js/cd.js'></script>
    <script src='js/cliente.js'></script>
    <script src='js/checkout.js'></script>
</body>

</html>